<table class="ui celled table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Trend</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
        #{list items:_assessments, as:'assessment'}
        <tr>
            <td>
                ${assessment.getDateFormatted()}
            </td>
            <td>
                ${utility.GymUtility.round(assessment.getWeight(), 2)}
            </td>
            <td>
                ${utility.GymUtility.round(assessment.getChest(), 2)}
            </td>
            <td>
                ${utility.GymUtility.round(assessment.getThigh(), 2)}
            </td>
            <td>
                ${utility.GymUtility.round(assessment.getUpperArm(), 2)}
            </td>
            <td>
                ${utility.GymUtility.round(assessment.getWaist(), 2)}
            </td>
            <td>
                ${utility.GymUtility.round(assessment.getHips(), 2)}
            </td>
            <td>
                #{if assessment.getTrend() == 1}
                    <i class="large arrow alternate circle down icon green"></i>
                #{/if}
                #{elseif assessment.getTrend() == -1}
                    <i class="large arrow alternate circle up icon red"></i>
                #{/elseif}
                #{else}
                    <i class="large arrow alternate circle right icon orange"></i>
                #{/else}
            </td>
            <td>
                ${assessment.getComment()}
            </td>
            <td>
                <a href="/dashboard/${_member.id}/deleteassessment/${assessment.id}" class="ui icon button">
                    <i class="icon trash"></i>
                </a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>