#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui two column center aligned middle aligned grid segment">
    <div class="column">
        <h2 class="ui header">BMI Tracker</h2>
        <h3 class="ui header">
            Fill in your assessments week by week and track your BMI.
            Trainers will comment on your progress and encourage you to keep going!
        </h3>
    </div>
    <div class="column">
        <img class="ui image" src="/public/images/sport-and-fitness-icons.jpg">
    </div>
</section>